@import "../../colors/colors.scss";

.counter-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2px;
    right: 3px;

    button {
        img {
            width: 12px;
            height: 12px;
        }
    }

    button.button-decrement {
        margin-top: -9px;
    }
}