$darkMainColor: #421814;
$greenMainColor: #14441D;

$darkSecondColor: #FE7A7C;
$greenSecondColor: #8BE9A2;

$darkLighterColor: #FFD8D8;
$greenLighterColor: #DCFBE3;

$darkBackgroundColor: #FFF2F2;
$greenBackgroundColor: #F2FFF4;