@import "../../../colors/colors.scss";
@import "../../../breakpoints/breakpoints.scss";

.custom-checkbox {
    position: relative;
    padding-left: 36px;
    cursor: pointer;

    @media (max-width: $mobile) {
        padding-left: 48px;
    }
    
    input[type="checkbox"].input-checkbox {
        position: absolute;
        top: -10px;
        left: 0;
        height: 20px;
        width: 20px;
        opacity: 0;
        z-index: 2;
        cursor: pointer;

        @media (max-width: $mobile) {
            height: 28px;
            width: 28px;
            top: -14px;
        }
        

        &-on-focus-time {
            &:checked + .checkmark {
                background: url('../../../img/done.svg') center center/contain $darkSecondColor;
            } 

            &:focus {
                outline:  $darkMainColor;
            }
        }

        &-on-rest-time {
            &:checked + .checkmark {
                background: url('../../../img/done-green.svg') center center/contain $greenSecondColor;
            }

            &:focus {
                outline: $greenMainColor;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: -10px;
        left: 0;
        height: 20px;
        width: 20px;
        background: white;
        border: 2px solid $darkMainColor;
        border-radius: 4px;

        @media (max-width: $mobile) {
            width: 28px;
            height: 28px;
            top: -14px;
        }
        
    }
}

.input-label {
    &-on-focus-time {
        color: $darkMainColor;
    }

    &-on-rest-time {
        color: $greenMainColor;
    }
}