@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import "./colors/colors.scss";
// ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontSize: 14px; 
// ==============================================================================================================================================================================================================================================================================
$mainColor: $darkMainColor; 
// ==============================================================================================================================================================================================================================================================================
$minWidth: 320;
@import './null.scss';






